@model IEnumerable<ProductOverviewModel>
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
<div class="discription" >
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6  mt-5">
                <div class="images-fix text-center">
                    <a href="@item.SeName"><img src="@item.DefaultPictureModel.ImageUrl" title="@item.DefaultPictureModel.Title" alt="@item.DefaultPictureModel.AlternateText" class="img-fluid"></a>
                </div>
                <div class="mo-ta" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="500">
                    <a href="@item.SeName">@item.Name</a>
                    <a href="@item.SeName">@item.ShortDescription</a>
                </div>
            </div>
        }
    </div>
</div>