@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;

<ul class="menu-lv1">
        @*
             @Html.Action("TaxTypeSelector", "Common")
        @Html.Action("CurrencySelector", "Common")
        @Html.Action("LanguageSelector", "Common")

        *@
   
    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
    {
        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
    }
  
    @if (Model.SitemapEnabled)
    {
        <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
    }
</ul>
<div class="clear-fix"></div>